@page "/"

<AuthorizeView>
    <NotAuthorized>
        <MudLink Href="/authentication/login">Entrar</MudLink>
    </NotAuthorized>
    <Authorized>
        <h3>Bienvenido</h3>
    </Authorized>
</AuthorizeView>

@code
{

}